# Chainlit Configuration
CHAINLIT_AUTH_SECRET=""
# CHAINLIT_URL="http://localhost:8501"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:8501/auth/oauth/google/callback"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GITHUB_REDIRECT_URI="http://localhost:8501/auth/oauth/github/callback"

# PostgreSQL config
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=postgresadmin
POSTGRES_DB=medical_rag_db
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://postgresadmin:postgresadmin@postgres_db:5432/medical_rag_db

FRONTEND_URL=http://localhost:8501
BACKEND_URL=http://chatbot_api:8000