# ==========================
# Chainlit Configuration
# ==========================
CHAINLIT_AUTH_SECRET=this-is-a-chainlit-auth-secret

# ==========================
# OAuth Configuration
# ==========================
OAUTH_GOOGLE_CLIENT_ID=this-is-a-google-client-id
OAUTH_GOOGLE_CLIENT_SECRET=this-is-a-google-client-secret
OAUTH_GOOGLE_REDIRECT_URI=http://localhost:8501/auth/oauth/google/callback

OAUTH_GITHUB_CLIENT_ID=this-is-a-github-client-id
OAUTH_GITHUB_CLIENT_SECRET=this-is-a-github-client-secret
OAUTH_GITHUB_REDIRECT_URI=http://localhost:8501

# Database config
POSTGRES_USER="postgres_admin"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_DB="chat_conversation_db"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
