# PostgreSQL config
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=postgresadmin
POSTGRES_DB=medical_rag_db
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Elasticsearch
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_PASSWORD=elasticsearchadmin
# ELASTICSEARCH_PASSWORD=1db520e1e1e9b8f44d7c2380198021d4
ELASTICSEARCH_URL=http://${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}

# Qdrant Vector Database
QDRANT_HOST=qdrant_db
QDRANT_PORT=6333
QDRANT_URL=http://${QDRANT_HOST}:${QDRANT_PORT}

# redis config
REDIS_HOST=redis_db
REDIS_PORT=6379
REDIS_PASSWORD=redisadmin
# REDIS_PASSWORD=102ce5214cbb235fe69a059f99768a0a
REDIS_DB=0
CELERY_BROKER_URL=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}
CELERY_RESULT_BACKEND=redis://:${REDIS_PASSWORD}@${REDIS_HOST}:${REDIS_PORT}/${REDIS_DB}


# HuggingFace Hub
HF_TOKEN=
HF_USERNAME=quannguyen204

# OpenAI API
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small


# Cohere API (for reranking)
COHERE_API_KEY=

# Tavily API (for web search)
TAVILY_API_KEY=

# Application Settings
LOG_LEVEL=INFO
ENVIRONMENT=development

# Rate Limiting
RATE_LIMIT_REGISTRATION=10/minute
RATE_LIMIT_CHAT=100/minute

# ELEVENLABS API (for TTS)
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=A5w1fw5x0uXded1LDvZp
# Model options: eleven_flash_v2_5 , eleven_turbo_v2_5, eleven_v3 (best)
ELEVENLABS_MODEL_ID=eleven_v3
ELEVENLABS_STABILITY=0.5
ELEVENLABS_SIMILARITY_BOOST=0.75
ELEVENLABS_SPEED=1.0